# Ignore datasets
datasets/
!datasets/**/*.py

# Ignore trained weights & logs
nohup.out

# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore large local files

# Ignore editor configs
.vscode/
.idea/
